body {
  position: absolute;
  top: 0;
  left: 0;
}
.home {
  .masthead {
    background-color: #697985;
    background-image: radial-gradient(circle farthest-side at 50vw 35vh, #697985, darken(#697985, 40%));
    margin: 0 !important;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    .title {
      margin-top: 25vh;
      text-align: center;

      .header {
        font-size: 5em;

        @media only screen and (max-width: 600px) {
          font-size: 3em;
        }

        .sub.header {
          word-spacing: 0.1em;
          margin-top: 1em;

          .item {
            font-size: 1.75rem;

            @media only screen and (max-width: 600px) {
              font-size: 1.1rem;
            }
          }
        }
      }

      .button {
        margin-top: 1.2em;

        @media only screen and (max-width: 600px) {
          margin-top: 0.5em;
        }
      }
    }
  }
}
