.home {
  .masthead {
    background: #697985;
    margin: 0 !important;
    padding: 0;
    height: 45vh;
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      text-align: center;

      .header {
        font-size: 5em;

        .sub.header {
          word-spacing: 0.1em;
          margin-top: 1em;

          .item {
            font-size: 1.75rem;
          }
        }
      }

      .button {
        margin-top: 1.2em;
      }
    }
  }

  &> .content {
    width: 80vw;
    margin: 2em auto;
  }
}
