<template name="home">
  <div class="masthead ui container">
    <div class="title">
      <h1 class="ui inverted header">
        Play Go
        <div class="sub header">
          <div class="ui horizontal inverted list">
            <div class="item">In your browser.</div>
            <div class="item">Against your friends.</div>
            <div class="item">Right now.</div>
          </div>
        </div>
      </h1>
      <button class="massive ui animated fade button">
        <div class="visible content">Start a Game</div>
        <div class="hidden content">
          <i class="play icon"></i>
        </div>
      </button>
    </div>
  </div>
</template>
