<template name="home">
  <div class="masthead ui container">
    <div class="title">
      <h1 class="ui inverted header">
        Play Go
        <div class="sub header">In your browser | Against your friends | Right now</div>
      </h1>
      <button class="massive ui animated fade inverted button">
        <div class="visible content">Start a Game</div>
        <div class="hidden content">
          <i class="play icon"></i>
        </div>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="ui three column stackable divided grid">
      <div class="row">
        <div class="column">1</div>
        <div class="column">2</div>
        <div class="column">3</div>
      </div>
    </div>
  </div>
</template>
