.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  #gameCanvas {
    display: block;
    height: 65vh;
    width: 65vh;
    max-width: 800px;
    max-height: 800px;
    -webkit-tap-highlight-color: transparent;

    @media only screen and (orientation: portrait) {
      height: 80vw;
      width: 80vw;
    }
  }
}
