.play {
  #gameCanvas {
    display: block;
    height: 75vh;
    width: 75vh;
    margin: 2.5vh auto 2.5vh auto;

    @media only screen and (orientation: portrait) {
      margin-top: 10vh;
      height: 80vw;
      width: 80vw;
    }

    &.turn:hover {
      cursor: pointer;
    }
  }

  #passButton {
    width: 10em;
    margin: 0 auto;
    display: block;

    @media only screen and (orientation: portrait) {
      position: absolute;
      bottom: 2.5vh;
      width: 95vw;
      margin-left: 2.5vw;
    }
  }

  #messages {
    top: 0;
    margin: 0 auto;
    position: absolute;
    padding: 0 2.5vw;
    width: 450px;

    @media only screen and (orientation: portrait) {
      width: 100vw;
    }

    .flashId {
      display: none;
    }

    .message {
      margin: 0 auto 1em auto;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
