.play {
  #actionButton {
    width: 10em;
    margin: 1.5em auto 0 auto;
    display: block;

    @media only screen and (orientation: portrait) {
      position: absolute;
      bottom: 2.5vh;
      width: 95vw;
      margin-top: 0;
      margin-left: 2.5vw;
    }
  }
}
