.play {

  .buttons {
    position: absolute;
    bottom: 2.5vh;
    width: 95vw;
    margin-top: 5rem;
    margin-left: 2.5vw;

    @media only screen and (min-width: 600px) {
      max-width: 20rem;
      position: relative;
    }

    .main.button {
      &:hover {
        background-color: darken(#e0e1e2, 5%);
      }
      &:active, &:focus {
        background-color: #e0e1e2;
      }
    }

    .icon.button {
      background-color: darken(#E0E1E2, 10%);
      max-width: 2.75em;

      .menu {
        width: 95vw;

        @media only screen and (min-width: 600px) {
          max-width: 20rem;
        }

        .item {
          height: 3.5em;
          line-height: 2.25em;
          text-align: center;
          font-weight: bold;
          font-size: 0.9em;

          &.resign {
            background-color: #db2828;
            color: white;
          }
        }
      }
    }
  }
}
